<!DOCTYPE html>
<html>
  <head>
    <title>計畫介紹 | CodeForWelfare</title>
    <link rel='stylesheet' href='/css/bootstrap.css' />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <link rel='stylesheet' href='/js/jquery.scrollAnimate.js' />
    <link rel='stylesheet' href='/js/bootstrap.js' />
    <link rel='stylesheet' href='/css/main.css' />
  </head>
  <body>
  	<%= include head %>
    <div id="intro_plant" class="container mainContainer">
      <header>
        <h2>福利搜尋器</h2>
        <span>幫你找出個人化的社會福利菜單！</span>
      </header>
      <section>
        <h3>Why do we need 福利搜尋器?</h3>
        <p>出生、上學、創業、失業、租屋、買房、結婚、生孩子、生病、住院、退休、年老......人生的每個階段，都會有用到社會補助、福利資源的時候；但面對台灣龐雜的社福系統、民間政府上萬種社會福利，「茫茫補助海中，到底哪些是我有資格可申請的？」</p>

        <p>福利搜尋器，就是希望透過簡易的條件篩選解決上述問題，幫助你找到你專屬的社會福利菜單！</p>
      </section>

      <section>
        <h3>How does 福利搜尋器 work?</h3>
        <p>「福利搜尋器」提供以下三種方式，幫助你搜尋社會福利資訊：</p>
        <ul>
          <li>條件篩選：選擇福利情境(Ex. 我要買房子、我要創業、我失業了......)，並填寫個人資料問卷，篩選出符合你符合申請資格的福利法規。
          <li>法規資料庫：將所有社福法規、辦法按類別置於資料庫，並連結「曾申請該福利的網友經驗談」、「申請實務QA」，省去實際申請時的摸索期。
          <li>我需要幫忙！：如果以上兩種方式無法滿足的你的需求，請利用「我需要幫忙！」直接寫下你的情況及需要的福利協助，我們將透過FB同步匿名發布你的求救問題，集合熱心網友的智慧回答你的問題。
        </ul>
      </section>

      <section>
        <h3>What problems do we want to solve?</h3>
        <p>目前台灣的社會福利提供者包括各級政府及民間組織，體系本身複雜外，社福資訊呈現上也有若干待改進之處：</p>
        <ul>
          <li>個人化，無！目前要搜尋社會福利時，我們只能點開政府網頁，把社福辦法一項、一項點開，逐一確認自己是否符合申請資格；這讓福利搜尋變成一件耗時耗力的麻煩事。
          <li>整合性，無！以一個失能住院的病人為例，他要分別到社會局、健保局、勞保局、病友會的網站才能完整的找到所有傷病相關的福利。
          <li>具體性，無！大多數的福利資訊只會告訴你「應備條件」及「申請辦法」，但許多補助其實是有「攻略秘笈」的，例如申請失能給付可能導致無法領取老年給付，造成「因小失大」的情形；這些是透過實際社福申請經驗分享才能了解的。
        </ul>
      </section>
    </div>
	</div>
  </body>
</html>
