<!DOCTYPE html>
<html>
  <head>
    <title>CodeForWelfare</title>
    <link rel='stylesheet' href='/css/bootstrap.css' />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <link rel='stylesheet' href='/js/jquery.scrollAnimate.js' />
    <link rel='stylesheet' href='/js/bootstrap.js' />
    <link rel='stylesheet' href='/css/main.css' />
  </head>
  <body>
  	<%= include head %>
  	 
  	<div class="container mainContainer">
  		<h3> 福利名稱: </h3>
  		<br/><br/>
  		<h3> 相關關鍵字: </h3>
  		(您也可以手動增加關鍵字，讓此福利曝光度增高，幫助更多人！)
  		<br/><br/>
  		<h3> 福利內容: </h3>
  		<br/><br/>
  		<h3> 福利原文網址: </h3>
  		<br/><br/>
  		<h3> 網友申請相關經驗: </h3>
  		<br/>
  		a. 
  		<br/>
  		b.
  		(若您有相關經驗欲分享，請與我聯絡)
  		<br/><br/>
	</div>
  </body>
</html>