<!DOCTYPE html>
<html>
  <head>
    <title>Listening-福利請聽</title>
    <link rel='stylesheet' href='/css/bootstrap.css' />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <link rel='stylesheet' href='/js/jquery.scrollAnimate.js' />
    <link rel='stylesheet' href='/js/bootstrap.js' />
    <link rel='stylesheet' href='/css/main.css' />
  </head>
  <body>
  	<%= include head %>
  	 <div style="width:100%;height:140px;background:#fff;margin-top:-10px;padding-top:30px;border-bottom:1px solid #e6e6e6;">
		<h1 class="ex1 text-center" style="line-height:1.3em">Listening</h1>
		<p class = "text-center">福利請聽</p>
	</div>
  	<div class="container mainContainer">
  				<h3>若想一同參與開發，請關注：</h3>
		<a href="http://www.facebook.com/groups/370247296422827/" >開發者社團</a>
		<br/><br/><br/>
		<h3>固定定期聚會資訊日期：</h3>
		<iframe src="https://www.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;ctz=Asia%2FTaipei" style=" border-width:0 " width="400" height="400" frameborder="0" scrolling="no"></iframe>
		<br><br>
		<legend></legend>
		<div class="memberdiv">
			<h3>參與計畫成員</h3>
			<address>
			  Blue Chen （聯絡人）<br>
			  <a href="www.facebook.com/iambluechen">www.facebook.com/iambluechen</a>
			</address>
			<address>
				Jerry Lee<br>
				<a href="http://twitter.com/wildjcrt">http://twitter.com/wildjcrt</a>
			</address>
			<address>
				Shawn Wang<br>
				<a href="http://www.facebook.com/shawn.wang.111">http://www.facebook.com/shawn.wang.111</a>
			</address>
			<address>
				Chien Huang<br>
				<a href="http://www.facebook.com/chsh.mtwfe">http://www.facebook.com/chsh.mtwfe</a>
			</address>
			<address>
				Po Ying Chen<br>
				<a href="http://www.facebook.com/gniyop">http://www.facebook.com/gniyop</a>
			</address>
			<address>
				Peggy Lo<br>
				<a href="http://www.facebook.com/peichi.lo.3">http://www.facebook.com/peichi.lo.3</a>
			</address>

			<br/>
			<legend></legend>
			如果你有意一起來貢獻，請與我們聯絡！<br/>
			<i class="icon-envelope"></i>: tw.listening.service@gmail.com<br/>
			Facebook:http://www.facebook.com/173478432803859
			<br><br>
		</div>
	</div>
  </body>
</html>
