<!DOCTYPE html>
<html>
  <head>
    <title>遇到的難題 | CodeForWelfare</title>
    <link rel='stylesheet' href='/css/bootstrap.css' />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <link rel='stylesheet' href='/js/jquery.scrollAnimate.js' />
    <link rel='stylesheet' href='/js/bootstrap.js' />
    <link rel='stylesheet' href='/css/main.css' />
  </head>
  <body>
  	<%= include head %>
    <div id="problems" class="container mainContainer">
      <header>
        <h2>遇到的難題</h2>
        <span>Problems we encounter now...If you have any idea, welcome to discuss with us!</span>
      </header>
      <p>福利搜尋器主要是利用Tag的方式，將各項福利資訊依申請條件下Tag，達到個人化條件篩選的目標；本團隊目前在設定Tag階段碰到以下的問題：</p>
      <ul>
        <li>
          <b>複合性的申請條件該如何下Tag？</b>
          <ul>
            <li><a href="http://www.google.com/url?q=http%3A%2F%2Fwww.ltcpa.org.tw%2Fpublic%2Fbenefit-detail.php%3Foid%3D79%26search_groupcode%3D001&sa=D&sntz=1&usg=AFQjCNEPNQfE9j8IRy9JiaYEvYD74yWObw">範例</a>：65歲以上老年人或55歲以上山地原住民或50歲以上之身心障礙者</li>
            <li>問題點：當or跟and條件同時出現，該如何下Tag？</li>
          </ul>
        </li>
        <li>
          <b>身分別不同的申請條件該如何下Tag？</b>
          <ul>
            <li><a href="http://www.google.com/url?q=http%3A%2F%2Fsocbu.kcg.gov.tw%2F%3Fprog%3D2%26b_id%3D5%26m_id%3D29%26s_id%3D425&sa=D&sntz=1&usg=AFQjCNHcXT4vEwRCU8R3koyPfqzc9Ze95g">範例</a>：被照顧者年滿2歲未滿65歲且設籍並實際居住本市...照顧者年滿16歲，未滿65歲，且非因身心障礙不能工作......</li>
            <li>問題點：一種福利可能會要求「兩種以上角色的條件」，例如要求申請者本人符合A條件、申請者的子女要符合B條件；Tag該如下，該如何利用介面做到不同身分別的條件篩選？</li>
          </ul>
        </li>
        <li>
          <b>需數字計算的申請條件該如何下Tag？</b>
          <ul>
            <li><a href="http://www.google.com/url?q=http%3A%2F%2Fsocbu.kcg.gov.tw%2F%3Fprog%3D2%26b_id%3D2%26m_id%3D2%26s_id%3D531&sa=D&sntz=1&usg=AFQjCNG5rwU15mlp5E7fakMxALqc5M85DQ">範例</a>：家庭總收入按全家人口平均分配，每人每月未超過當年度最低生活費2.5倍（29,725元）且未達台灣地區平均每人每月消費支出1.5倍（27,698元）</li>
            <li>問題點：一般人不會算、生活費等標準會不定期變動</li>
            <li>初步想法：讓user只需要填「他知道的資訊」，例如只填月均家庭收入&家庭成員人數，由我們來幫他計算。</li>
          </ul>
        </li>
        <li>
          <b>敘述型的申請條件該如何下Tag？</b>
          <ul>
            <li><a href="http://www.google.com/url?q=http%3A%2F%2Fwww.ht.org.tw%2Fcharity%2Fhelp.asp&sa=D&sntz=1&usg=AFQjCNGzEOlzZYXKont7-SEDRHewPIQqDA">範例</a>：因急難變故而導致生活發生困難者</li>
            <li>問題點：目前有許多福利的申請條件是「較模糊的敘述語句」，申請後直接由社工到家訪視評估，確認是否核給福利補助，故無法將申請條件數字化、具體化。</li>
          </ul>
        </li>
        <li>
          <b>福利間的排斥性</b>
          <ul>
            <li><a href="http://www.google.com/url?q=http%3A%2F%2Fsocbu.kcg.gov.tw%2F%3Fprog%3D2%26b_id%3D5%26m_id%3D29%26s_id%3D391&sa=D&sntz=1&usg=AFQjCNG7Sa-Bw05BQK1kkXNIRIYxuJ8QKA">範例</a>：專用停車位識別證與專用牌照，僅能擇一辦理</li>
            <li>問題點：是否可能利用Tag問卷做到排斥性的篩選？</li>
            <li>初步想法：至少可以做到在該福利辦法的下方註明，此福利與其他哪些福利有排斥性</li>
          </ul>
        </li>
        <li>
          <b>不同社福體系，申請條件的表達方式不同</b>
          <ul>
            <li><a href="http://www.google.com/url?q=http%3A%2F%2Fsocbu.kcg.gov.tw%2F%3Fprog%3D2%26b_id%3D6%26m_id%3D33%26s_id%3D97&sa=D&sntz=1&usg=AFQjCNErab2ECJM1V6ZdviTdD8FHab_JQw">範例1&2</a>：社會救助類福利條件多與經濟、財產條件相關；傷病給付福利多與住院天數、醫師病症診斷、病況細節相關</li>
            <li>問題點：各種福利體系 / 類別差異大，如果全部設定為問卷選單將會過長</li>
            <li>初步想法：問卷將有三個階層，第一個階層會選擇福利的大類，不同的大類將會有不同的二階層選單</li>
          </ul>
        </li>
      </ul>
    </div>
	</div>
  </body>
</html>
