<!DOCTYPE html>
<html>
  <head>
    <title>CodeForWelfare</title>
    <link rel='stylesheet' href='/css/bootstrap.css' />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <link rel='stylesheet' href='/js/jquery.scrollAnimate.js' />
    <link rel='stylesheet' href='/js/bootstrap.js' />
    <link rel='stylesheet' href='/css/main.css' />
  </head>
  <body>
  	<%= include head %>
  	 <div style="width:100%;height:100px;background:#fff;margin-top:-10px;padding-top:30px;border-bottom:1px solid #e6e6e6;">
		<div class="search_div" href="#search_engine" style="margin-top:0px">
			<form class="form-search">
				請選擇縣市：
			  <select style="width:100px;">
				<option>高雄市</option>
				<option>新竹市</option>
				<option>台北市</option>
				<option>基隆市</option>
				<option>台中市</option>
			  </select>
			  <br/><br/>
			  	請輸入欲找項目：
			  <div class="input-append">
			    <input type="text" class="span2 search-query">
			    <button type="submit" class="btn">Search</button>
			  </div>
			</form>
		</div>
	</div>
  	<div class="container mainContainer">
  		yoyo
	</div>
  </body>
</html>