<!DOCTYPE html>
<html>
  <head>
    <title>CodeForWelfare</title>
    <link rel='stylesheet' href='/css/bootstrap.css' />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <link rel='stylesheet' href='/js/jquery.scrollAnimate.js' />
    <link rel='stylesheet' href='/js/bootstrap.js' />
    <link rel='stylesheet' href='/css/main.css' />
    <script src="/js/bootstrap-collapse.js"></script>
    <script src="http://code.jquery.com/jquery-1.8.0.min.js"></script>
  </head>
  <body>
  	<%= include head %>



  	<div class="container mainContainer">
  		<div class="row">
  			<div class="span3">
  				<div class="accordion-heading">
  					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse1">
  						<h3>第一階段查詢
  					</a>
  				</div>
  				<div id="collapse1" class="accordion-body">
      			<div class="accordion-inner">
  				<form>
  					<h5>地區：</h5>
  					<select class="location">
						<option>高雄市政府</option>
					</select>
					<h5>福利類別：</h5>
					<label class="">
						<input type="checkbox" onchange="sck('education')"/>教育
					</label>
					<label class="work">
						<input type="checkbox" onchange="sck('work')"/>就業
					</label>
					<label class="checkbox">
						<input type="checkbox" onchange="sck('transportation')">交通
					</label>
					<label class="checkbox">
						<input type="checkbox" onchange="sck('living')">住屋補助
					</label>
					<label class="checkbox">
						<input type="checkbox" onchange="sck('allowance')">生活津貼
					</label>
					<label class="checkbox">
						<input type="checkbox" onchange="sck('tax')">稅捐減免
					</label>
					<label class="checkbox">
						<input type="checkbox" onchange="sck('medical')">保健醫療
					</label>
					<label class="checkbox">
						<input type="checkbox" onchange="sck('care')">支持服務
					</label>
					<label class="checkbox">
						<input type="checkbox" onchange="sck('emergency')">經濟扶助
				    </label>
  				</form>
  				<button type="submit" class="btn">送出</button>
  				</div>
  				</div>
  				<div class="accordion-heading">
  					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse2">
  					<h3>第二階段查詢</h3>
  					</a>
  				</div>
  				<div id="collapse2" class="accordion-body collapse">
      			<div class="accordion-inner">
  				<form>
  					<h5>性別：</h5>
  					<select>
					  <option>男</option>
					  <option>女</option>
					</select>
  					<h5>年齡：</h5>
  					<input type="text" placeholder="Type something…">
  					<h5>單親：</h5>
  					<label class="radio">
						<input type="radio" name="aaa" onclick="s2ck('singleparent','y')">是
					</label>
					<label class="radio">
						<input type="radio" name="aaa" onclick="s2ck('singleparent','n')">否
					</label>
					<h5>離婚：<h5> 
					<label class="radio">
						<input type="radio" name="aaa" onclick="s2ck('divorce','y')">是
					</label>
					<label class="radio">
						<input type="radio" name="aaa" onclick="s2ck('divorce','n')">否
					</label>
					<h5>失業：<h5> 
					<label class="radio">
						<input type="radio" name="aaa" onclick="s2ck('unemployment','y')">是
					</label>
					<label class="radio">
						<input type="radio" name="aaa" onclick="s2ck('unemployment','n')">否
					</label>	
					<h5>失蹤：<h5> 
					<label class="radio">
						<input type="radio" name="aaa" onclick="s2ck('lost','y')">是
					</label>
					<label class="radio">
						<input type="radio" name="aaa" onclick="s2ck('lost','n')">否
					</label>
					<h5>中輟生：<h5> 
					<label class="radio">
						<input type="radio" name="aaa" onclick="s2ck('dropout','y')">是
					</label>
					<label class="radio">
						<input type="radio" name="aaa" onclick="s2ck('dropout','n')">否
					</label>
					<h5>原住民：<h5> 
					<label class="radio">
						<input type="radio" name="aaa" onclick="s2ck('aboringinal','y')">是
					</label>
					<label class="radio">
						<input type="radio" name="aaa" onclick="s2ck('aboringinal','n')">否
					</label>
					<h5>具不具勞保身分：<h5> 
					<label class="radio">
						<input type="radio" name="aaa" onclick="s2ck('LI','y')">是
					</label>
					<label class="radio">
						<input type="radio" name="aaa" onclick="s2ck('LI','n')">否
					</label>
					<h5>職災者：<h5> 
					<label class="radio">
						<input type="radio" name="aaa" onclick="s2ck('OA','y')">是
					</label>
					<label class="radio">
						<input type="radio" name="aaa" onclick="s2ck('OA','n')">否
					</label>
					<h5>低收入戶：<h5> 
					<label class="radio">
						<input type="radio" name="aaa" onclick="s2ck('lowincome','y')">是
					</label>
					<label class="radio">
						<input type="radio" name="aaa" onclick="s2ck('lowincome','n')">否
					</label>
					<h5>中收入戶：<h5>
					<label class="radio">
						<input type="radio" name="aaa" onclick="s2ck('midincome','y')">是
					</label>
					<label class="radio">
						<input type="radio" name="aaa" onclick="s2ck('midincome','n')">否
					</label>	
					<h5>重大傷病：<h5>
					<label class="radio CIC_sel_ck">
						<input type="radio" name="aaa" onclick="s2ck('CIC','y')">是
					</label>
					<label class="radio CIC_sel_ck">
						<input type="radio" name="aaa" onclick="s2ck('CIC','n')">否
					</label>	
					<select class="CIC_sel">
						<option>請選擇</option>
						<option>請選擇</option>
					</select>
					<h5>罕見疾病：<h5>
					<label class="radio RD_sel_ck">
						<input type="radio" name="aaa" onclick="s2ck('RD','y')">是
					</label>
					<label class="radio RD_sel_ck">
						<input type="radio" name="aaa" onclick="s2ck('RD','n')">否
					</label>
					<select class="RD_sel">
						<option>請選擇</option>
						<option>請選擇</option>
					</select>	
					<h5>身心障礙：<h5>
					<label class="radio DC_sel_ck">
						<input type="radio" name="aaa" onclick="s2ck('DC','y')">是
					</label>
					<label class="radio DC_sel_ck">
						<input type="radio" name="aaa" onclick="s2ck('DC','n')">否
					</label>	
					<select class="DC_sel">
						<option>聽障</option>
						<option>肢障</option>
					</select>

  				</form>
  				<button type="submit" class="btn">送出</button>
  				</div>
  				</div>
  				<div class="accordion-heading">
  					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse3">
  						<h3>第三階段查詢
  					</a>
  				</div>
  				<div id="collapse3" class="accordion-body collapse">
	      			<div class="accordion-inner">
		  				<form>
		  				</form>
		  				<button type="submit" class="btn">送出</button>
	  				</div>
  				</div>
  			</div>
  			<div class="span9">
  				<div class="btn btn-success">
  					我需要幫忙
  				</div>
  				<blockquote>
					<p>目前建立地方政府福利API</p>
					<small>高雄縣市</small>
				</blockquote>
  			</div>
  		</div>
	</div>
	<script>
		var st1 = {};
		st1.education = 'n';
		st1.work = 'n';
		st1.transportation= 'n';
		st1.living = 'n';
		st1.allowance = 'n';
		st1.tax = 'n';
		st1.medical = 'n';
		st1.care = 'n';
		st1.emergency = 'n';
		var z = 0;

		
		function sck(name){
			switch(name){
			case 'education':
				if(st1.education == 'n') {
					st1.education='y'
				}else{
					st1.education='n'
				}
				break;
			case 'work':
				if(st1.work == 'n') {
					st1.work='y'
				}else{
					st1.work='n'
				}
				break;
			case 'transportation':
				if(st1.transportation== 'n') {
					st1.transportation='y'
				}else{
					st1.transportation='n'
				}
				break;
			case 'living':
				if(st1.living == 'n') {
					st1.living='y'
				}else{
					st1.living='n'
				}
				break;
			case 'allowance':
				if(st1.allowance == 'n') {
					st1.allowance='y'
				}else{
					st1.allowance='n'
				}
				break;
			case 'tax':
				if(st1.tax == 'n') {
					st1.tax='y'
				}else{
					st1.tax='n'
				}
				break;
			case 'medical':
				if(st1.medical == 'n') {
					st1.medical='y'
				}else{
					st1.medical='n'
				}
				break;
			case 'care':
				if(st1.care == 'n') {
					st1.care='y'
				}else{
					st1.care='n'
				}
				break;
			case 'emergency':
				if(st1.emergency == 'n') {
					st1.emergency='y'
				}else{
					st1.emergency='n'
				}
				break;
			}
			console.log(st1);
		}
		var st2={}
		st2.singleparent='n';
		st2.divorce= 'n';
		st2.unemployment= 'n';
		st2.lost= 'n';
		st2.dropout= 'n';
		st2.aboringinal= 'n';
		st2.LI= 'n';
		st2.OA= 'n';
		st2.lowincome= 'n';
		st2.midincome= 'n';
		function s2ck(name,ck){
			switch(name){
			case 'singleparent':
				st2.singleparent = ck;
				break;
			case 'divorce':
				st2.divorce = ck;
				break;
			case 'unemployment':
				st2.unemployment = ck;
				break;
			case 'lost':
				st2.lost = ck;
				break;
			case 'dropout':
				st2.dropout = ck;
				break;
			case 'aboringinal':
				st2.aboringinal = ck;
				break;
			case 'LI':
				st2.LI= ck;
				break;
			case 'OA':
				st2.OA = ck;
				break;
			case 'lowincome':
				st2.lowincome= ck;
				break;
			case 'midincome':
				st2.midincome = ck;
				break;
			case 'CIC':
				st2.CIC = ck;
				$('.CIC_sel').css('display','block');
				$('.CIC_sel_ck').css('display','none');
				break;
			case 'RD':
				st2.RD = ck;
				$('.RD_sel').css('display','block');
				$('.RD_sel_ck').css('display','none');
				break;
			case 'DC':
				st2.DC = ck;
				$('.DC_sel').css('display','block');
				$('.DC_sel_ck').css('display','none');
				break;
			}
			console.log(st2);
		}
		
	</script>
  </body>
</html>