<!DOCTYPE html>
<html>
  <head>
    <title>CodeForWelfare</title>
    <link rel='stylesheet' href='/css/bootstrap.css' />
    <script src="/js/json2.js"></script>
    <script src="http://code.jquery.com/jquery-1.8.0.min.js"></script>
    <script src="/js/underscore.js"></script>
    <script src="/js/backbone.js"></script>
    <script src="/js/backbone.localStorage.js"></script>
    <link rel='stylesheet' href='/js/jquery.scrollAnimate.js' />
    <link rel='stylesheet' href='/js/bootstrap.js' />
    <link rel='stylesheet' href='/css/main.css' />
    <script src="/js/bootstrap-collapse.js"></script>
    <script src="/js/bootstrap-modal.js"></script>
  </head>
  <body>
  	<%= include head %>
  	<div class="container mainContainer">
  		<div class="row-fluid">
  			<div class="span12">
  				<!-- Button to trigger modal -->
				<a href="#myModal" role="button" class="btn btn-success need-help" data-toggle="modal">我需要幫忙</a>
				<!-- Modal -->
				<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h3 id="myModalLabel">Help！</h3>
					</div>
					<div class="modal-body">
						姓名：<input type="text" placeholder="怎麼稱呼您?"><br/>
						電子信箱：<input type="text" placeholder="請輸入Email"><br/>
						電話：<input type="text" placeholder="請輸入Email"><br/>
						<p style="color:red">*以上資料僅為本站人員聯繫用，絕不公開</p>
						<label class="help_1">
							<input type="checkbox" onchange="sck('work')"/> 勾選公開下方資料請網友協助
						</label>
						<textarea rows="3" placeholder="需要什麼幫忙呢？"></textarea>
					</div>

					<div class="modal-footer">
						<button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
						<button class="btn btn-primary">張貼文章</button>
					</div>
				</div>
  			</div>
  			<div class="span8">
  				<div class="span12">
  					<div class="row fr_st">
  						<div class="span12 sel_sk_btn">
							
  						</div>
		  				<form class="span12 row-fluid">
		  					<div class="span4">
			  					<h5>地區：</h5>
			  					<select class="location">
									<option>高雄市政府</option>
								</select>
							</div>
							<div class="span8">
								<h5>福利類別：</h5>
								<label class="s1">
									<input type="checkbox" onchange="sck('education')"/> 教育
								</label>
								<label class="s1">
									<input type="checkbox" onchange="sck('work')"/> 就業
								</label>
								<label class="s1">
									<input type="checkbox" onchange="sck('transportation')">交通
								</label>
								<label class="s1">
									<input type="checkbox" onchange="sck('living')">住屋補助
								</label>
								<label class="s1">
									<input type="checkbox" onchange="sck('allowance')">生活津貼
								</label>
								<label class="s1">
									<input type="checkbox" onchange="sck('tax')">稅捐減免
								</label>
								<label class="s1">
									<input type="checkbox" onchange="sck('medical')">保健醫療
								</label>
								<label class="s1">
									<input type="checkbox" onchange="sck('care')">支持服務
								</label>
								<label class="s1">
									<input type="checkbox" onchange="sck('emergency')">經濟扶助
							    </label>
							</div>
		  				</form>
	  				</div>
  				</div>
  				<div class="span12 row-fluid">
  					<h4 class="span12">查詢項目:</h4>
  					<div class="span11">
	  					<blockquote>
						<p>無障礙之家住宿照顧補助</p>
						<small><span class="label">Default</span><span class="label">Default</span><span class="label">Default</span><span class="label">Default</span></small>
						</blockquote>
					</div>
					<br/>
					<div class="span11">
	  					<blockquote>
						<p>無障礙之家住宿照顧補助</p>
						<small><span class="label">Default</span><span class="label">Default</span><span class="label">Default</span><span class="label">Default</span></small>
						</blockquote>
					</div>
					<br/>
  				</div>			
  			</div>
  			<div class="span3">
  				<form>
  					<h5>性別：</h5>
  					<select>
					  <option>男</option>
					  <option>女</option>
					</select>
  					<h5>年齡：</h5>
  					<input type="text" placeholder="Type something…">
  					<div class="btn" onclick="s2ck('singleparent')">單親</div>
  					<br/>
					<div class="btn" onclick="s2ck('divorce')">離婚</div> 
					<br/>
					<div class="btn" onclick="s2ck('unemployment')">失業</div> 
					<br/>
					<div class="btn" onclick="s2ck('lost')">失蹤</div> 
					<br/>
					<div class="btn" onclick="s2ck('dropout')">中輟生</div>
					<br/>
					<div class="btn" onclick="s2ck('aboringinal')">原住民</div>
					<br/> 
					<div class="btn" onclick="s2ck('LI')">勞保身分</div>
					<br/>
					<div class="btn" onclick="s2ck('OA')">職災者</div>
					<br/>
					<div class="btn" onclick="s2ck('lowincome')">低收入戶</div>
					<br/>
					<div class="btn" onclick="s2ck('midincome')">中收入戶</div>
					<br/>
					<div class="btn" onclick="s2ck('CIC')">重大傷病</div>
					<select class="CIC_sel">
						<option>請選擇</option>
						<option>請選擇</option>
					</select>
					<div class="btn" onclick="s2ck('RD','y')">罕見疾病</div>
					<select class="RD_sel">
						<option>請選擇</option>
						<option>請選擇</option>
					</select>	
					<h5>身心障礙：<h5>
					<div class="btn" onclick="s2ck('DC','y')">身心障礙</div>
					<select class="DC_sel">
						<option>聽障</option>
						<option>肢障</option>
					</select>
  				</form>
  			</div>
  		</div>
	</div>
	<script>
		var st1 = {};
		st1.education = 'n';
		st1.work = 'n';
		st1.transportation= 'n';
		st1.living = 'n';
		st1.allowance = 'n';
		st1.tax = 'n';
		st1.medical = 'n';
		st1.care = 'n';
		st1.emergency = 'n';
		var z = 0;
		// function hihi(){
		// 	console.log('yoyo');
		// }
		function sck(name){
			switch(name){
			case 'education':
				if(st1.education == 'n') {
					st1.education='y'
				}else{
					st1.education='n'
				}
				break;
			case 'work':
				if(st1.work == 'n') {
					st1.work='y'
				}else{
					st1.work='n'
				}
				break;
			case 'transportation':
				if(st1.transportation== 'n') {
					st1.transportation='y'
				}else{
					st1.transportation='n'
				}
				break;
			case 'living':
				if(st1.living == 'n') {
					st1.living='y'
				}else{
					st1.living='n'
				}
				break;
			case 'allowance':
				if(st1.allowance == 'n') {
					st1.allowance='y'
				}else{
					st1.allowance='n'
				}
				break;
			case 'tax':
				if(st1.tax == 'n') {
					st1.tax='y'
				}else{
					st1.tax='n'
				}
				break;
			case 'medical':
				if(st1.medical == 'n') {
					st1.medical='y'
				}else{
					st1.medical='n'
				}
				break;
			case 'care':
				if(st1.care == 'n') {
					st1.care='y'
				}else{
					st1.care='n'
				}
				break;
			case 'emergency':
				if(st1.emergency == 'n') {
					st1.emergency='y'
				}else{
					st1.emergency='n'
				}
				break;
			}
			console.log(st1);
		}
		// $.ajax({
		//   type: "POST",
		//   url: "some.php",
		//   data: { name: "John", location: "Boston" }
		// }).done(function( msg ) {
		//   alert( "Data Saved: " + msg );
		// });

		var st2={}
		st2.singleparent='n';
		st2.divorce= 'n';
		st2.unemployment= 'n';
		st2.lost= 'n';
		st2.dropout= 'n';
		st2.aboringinal= 'n';
		st2.LI= 'n';
		st2.OA= 'n';
		st2.lowincome= 'n';
		st2.midincome= 'n';
		function s2ck(name,ck){
			switch(name){
			case 'singleparent':
				st2.singleparent = ck;
				break;
			case 'divorce':
				st2.divorce = ck;
				break;
			case 'unemployment':
				st2.unemployment = ck;
				break;
			case 'lost':
				st2.lost = ck;
				break;
			case 'dropout':
				st2.dropout = ck;
				break;
			case 'aboringinal':
				st2.aboringinal = ck;
				break;
			case 'LI':
				st2.LI= ck;
				break;
			case 'OA':
				st2.OA = ck;
				break;
			case 'lowincome':
				st2.lowincome= ck;
				break;
			case 'midincome':
				st2.midincome = ck;
				break;
			case 'CIC':
				st2.CIC = ck;
				$('.CIC_sel').css('display','block');
				$('.CIC_sel_ck').css('display','none');
				break;
			case 'RD':
				st2.RD = ck;
				$('.RD_sel').css('display','block');
				$('.RD_sel_ck').css('display','none');
				break;
			case 'DC':
				st2.DC = ck;
				$('.DC_sel').css('display','block');
				$('.DC_sel_ck').css('display','none');
				break;
			}
			console.log(st2);
		}
		

		//backbone
		$(function(){

		  var Listening = Backbone.Model.extend({
		    defaults: function() {
		      return {
		        title: "empty todo...",
		        order: Todos.nextOrder(),
		        done: false
		      };
		    },
		    toggle: function() {
		      this.save({select: !this.get("select")});
		    }
		  });
		  var ListeningSelectList = Backbone.Collection.extend({
		    model: Listening,
		    localStorage: new Backbone.LocalStorage("listening_select"),
		    done: function() {
		      return this.where({select: true});
		    },
		    remaining: function() {
		      return this.without.apply(this, this.done());
		    },
		    nextOrder: function() {
		      if (!this.length) return 1;
		      return this.last().get('order') + 1;
		    },
		    comparator: 'order'
		  });

		  var Listenings = new ListeningSelectList ;
		  var TodoView = Backbone.View.extend({
		    
		    tagName:  "li",
		    template: _.template($('#item-template').html()),
		    events: {
		      "click .toggle"   : "toggleDone",
		      "dblclick .view"  : "edit",
		      "click a.destroy" : "clear",
		      "keypress .edit"  : "updateOnEnter",
		      "blur .edit"      : "close"
		    },
		    initialize: function() {
		      this.listenTo(this.model, 'change', this.render);
		      this.listenTo(this.model, 'destroy', this.remove);
		    },
		    render: function() {
		      this.$el.html(this.template(this.model.toJSON()));
		      this.$el.toggleClass('done', this.model.get('done'));
		      this.input = this.$('.edit');
		      return this;
		    },
		    toggleDone: function() {
		      this.model.toggle();
		    },
		    edit: function() {
		      this.$el.addClass("editing");
		      this.input.focus();
		    },
		    close: function() {
		      var value = this.input.val();
		      if (!value) {
		        this.clear();
		      } else {
		        this.model.save({title: value});
		        this.$el.removeClass("editing");
		      }
		    },
		    updateOnEnter: function(e) {
		      if (e.keyCode == 13) this.close();
		    },
		    clear: function() {
		      this.model.destroy();
		    }
		  });
		  var AppView = Backbone.View.extend({
		    el: $("#todoapp"),
		    statsTemplate: _.template($('#stats-template').html()),
		    events: {
		      "keypress #new-todo":  "createOnEnter",
		      "click #clear-completed": "clearCompleted",
		      "click #toggle-all": "toggleAllComplete"
		    },
		    initialize: function() {
		      this.input = this.$("#new-todo");
		      this.allCheckbox = this.$("#toggle-all")[0];
		      this.listenTo(Todos, 'add', this.addOne);
		      this.listenTo(Todos, 'reset', this.addAll);
		      this.listenTo(Todos, 'all', this.render);
		      this.footer = this.$('footer');
		      this.main = $('#main');
		      Todos.fetch();
		    },
		    render: function() {
		      var done = Todos.done().length;
		      var remaining = Todos.remaining().length;

		      if (Todos.length) {
		        this.main.show();
		        this.footer.show();
		        this.footer.html(this.statsTemplate({done: done, remaining: remaining}));
		      } else {
		        this.main.hide();
		        this.footer.hide();
		      }
		      this.allCheckbox.checked = !remaining;
		    },
		    addOne: function(todo) {
		      var view = new TodoView({model: todo});
		      this.$("#todo-list").append(view.render().el);
		    },
		    addAll: function() {
		      Todos.each(this.addOne, this);
		    },
		    createOnEnter: function(e) {
		      if (e.keyCode != 13) return;
		      if (!this.input.val()) return;
		      Todos.create({title: this.input.val()});
		      this.input.val('');
		    },
		    clearCompleted: function() {
		      _.invoke(Todos.done(), 'destroy');
		      return false;
		    },

		    toggleAllComplete: function () {
		      var done = this.allCheckbox.checked;
		      Todos.each(function (todo) { todo.save({'done': done}); });
		    }

		  });
		  var App = new AppView;
		});
		_.templateSettings = {
		    interpolate : /\{\{(.+?)\}\}/g
		};
		
	</script>
	<script type="text/template" id="add_sel">
		<span class="label">Default</span>
	</script>
	<script type="text/template" id="stats-template">
	     if (done) { }}
	      <a id="clear-completed">Clear {{ done }} completed {{ done == 1 ? 'item' : 'items' }}</a>
	    {{ } }}
	    <div class="todo-count"><b>{{ remaining }}</b> {{ remaining == 1 ? 'item' : 'items' }} left</div>
   	</script>
  </body>
</html>