<!DOCTYPE html>
<html>
  <head>
    <title>CodeForWelfare</title>
    <link rel='stylesheet' href='/css/bootstrap.css' />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <link rel='stylesheet' href='/js/jquery.scrollAnimate.js' />
    <link rel='stylesheet' href='/js/bootstrap.js' />
    <link rel='stylesheet' href='/css/main.css' />
    <script src="/js/bootstrap-collapse.js"></script>
  </head>
  <body>
  	<%= include head %>



  	<div class="container mainContainer">
  		<div class="row">
  			<div class="span3">
  				<div class="accordion-heading">
  					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse1">
  						<h3>第一階段查詢
  					</a>
  				</div>
  				<div id="collapse1" class="accordion-body">
      			<div class="accordion-inner">
  				<form>
  					<h5>地區：</h5>
  					<select>
					  <option>高雄市政府</option>
					</select>
					<h5>福利類別：</h5>
					<label class="edu">
						<input type="checkbox"/>教育
					</label>
					<label class="work">
						<input type="checkbox"/>就業
					</label>
					<label class="checkbox">
						<input type="checkbox">交通
					</label>
					<label class="checkbox">
						<input type="checkbox">住屋補助
					</label>
					<label class="checkbox">
						<input type="checkbox">生活津貼
					</label>
					<label class="checkbox">
						<input type="checkbox">稅捐減免
					</label>
					<label class="checkbox">
						<input type="checkbox">保健醫療
					</label>
					<label class="checkbox">
						<input type="checkbox">支持服務
					</label>
					<label class="checkbox">
						<input type="checkbox">經濟扶助
				    </label>
  				</form>
  				<button type="submit" class="btn">送出</button>
  				</div>
  				</div>
  				<div class="accordion-heading">
  					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse2">
  					<h3>第二階段查詢</h3>
  					</a>
  				</div>
  				<div id="collapse2" class="accordion-body collapse">
      			<div class="accordion-inner">
  				<form>
  					<h5>性別：</h5>
  					<select>
					  <option>男</option>
					  <option>女</option>
					</select>
  					<h5>年齡：</h5>
  					<input type="text" placeholder="Type something…">
  					<h5>單親：</h5>
  					<label class="radio">
						<input type="radio" name="aaa">是
					</label>
					<label class="radio">
						<input type="radio" name="aaa">否
					</label>
					<h5>離婚：<h5> 
					<label class="radio">
						<input type="radio" name="aaa">是
					</label>
					<label class="radio">
						<input type="radio" name="aaa">否
					</label>
					<h5>失業：<h5> 
					<label class="radio">
						<input type="radio" name="aaa">是
					</label>
					<label class="radio">
						<input type="radio" name="aaa">否
					</label>	
					<h5>失蹤：<h5> 
					<label class="radio">
						<input type="radio" name="aaa">是
					</label>
					<label class="radio">
						<input type="radio" name="aaa">否
					</label>
					<h5>中輟生：<h5> 
					<label class="radio">
						<input type="radio" name="aaa">是
					</label>
					<label class="radio">
						<input type="radio" name="aaa">否
					</label>
					<h5>原住民：<h5> 
					<label class="radio">
						<input type="radio" name="aaa">是
					</label>
					<label class="radio">
						<input type="radio" name="aaa">否
					</label>
					<h5>具不具勞保身分：<h5> 
					<label class="radio">
						<input type="radio" name="aaa">是
					</label>
					<label class="radio">
						<input type="radio" name="aaa">否
					</label>
					<h5>職災者：<h5> 
					<label class="radio">
						<input type="radio" name="aaa">是
					</label>
					<label class="radio">
						<input type="radio" name="aaa">否
					</label>
					<h5>低收入戶：<h5> 
					<label class="radio">
						<input type="radio" name="aaa">是
					</label>
					<label class="radio">
						<input type="radio" name="aaa">否
					</label>
					<h5>中收入戶：<h5>
					<label class="radio">
						<input type="radio" name="aaa">是
					</label>
					<label class="radio">
						<input type="radio" name="aaa">否
					</label>					

  				</form>
  				<button type="submit" class="btn">送出</button>
  				</div>
  				</div>
  				<div class="accordion-heading">
  					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse3">
  						<h3>第三階段查詢
  					</a>
  				</div>
  				<div id="collapse3" class="accordion-body collapse">
	      			<div class="accordion-inner">
		  				<form>
		  				</form>
		  				<button type="submit" class="btn">送出</button>
	  				</div>
  				</div>
  				

  			</div>
  			<div class="span9">
  				<div class="btn btn-success">
  					我需要幫忙
  				</div>
  				<blockquote>
					<p>目前建立地方政府福利API</p>
					<small>高雄縣市</small>
				</blockquote>
  			</div>
  		</div>
	</div>
  </body>
</html>